  <!-- LIST -->
  <div class="col-md-6">
    Dashboard 

       <!-- <div class="abc">
           <a href="/admin/<%=id%>">Profile</a>
       </div> -->
             
        
   <div class="abc">
       <a href="/logout">Logout</a>
   </div>
</div>
</div>